
.after {
  margin-top: 10px;
  border: 1px solid white;
  height: 80px;
  width: 100%;
}
.avl {
  margin: auto;
}
.cont {
  display: flex;
  justify-content: center;
}
.card {
  background-color: rgb(61, 60, 60);
  height: 500px;
  width: 400px;
  margin: 20px;
  color: white;
  border-radius: 15px;
}
.card:hover {
  transform: scale(1.02);
}
.card-image {
  height: 290px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  text-decoration: none;
}
.g20 {
  background-image: url("r4.webp");
}
.g21 {
  background-image: url("pos.jpg");
}
.g22 {
  background-image: url("g21.png");
}
.btn4 {
  background-color: rgb(203, 76, 3);
  color: white;
  padding: 15px 20px;
  margin-top: 40px;
  margin-left: 120px;
}





/*TABLE*/


/*BUY */



