@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
body {
  margin: 0;
  font-size: "viewport";
  flex-wrap: nowrap;
}
.logo {
  color: Hex #0070d1;
}
.logo:hover {
  box-shadow: 2px 2px 2px 2px Hex #0070d1;
}
.navbar {
  font-family: "Orbitron", sans-serif;
  background-color: #57606c;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  font-size: 11px;
}
.navbar ul {
  padding-top: 10px;
  padding-right: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  position: relative;
  list-style: none;
}
.navbar ul li a {
  position: relative;
  margin: 10px;
  text-decoration: none;
  color: rgb(237, 233, 233);
  transition: 0.6s;
}
.navbar ul li a:hover {
  color: Hex #0070d1;
}

.navbar a:hover {
  color: Hex #0070d1;
}
.like {
  margin-right: 20px;
  border: 1px solid black;
  border: hidden;
}
.cart {
  padding-right: 20px;
  border: 1px solid black;
  border: hidden;
}
.Sign {
  border-radius: 30px;
  background-color: rgb(0, 57, 156);
  width: 90px;
  height: 30px;
  box-shadow: inset 0 0 0 0 rgb(2, 2, 2);
  color: #fff;
  cursor: pointer;
  transition: ease-out 0.1s;
  margin-right: 10px;
  font-size: 17px;
}
.Sign:hover {
  background-color: rgb(236, 5, 5);
}
.search {
  margin-right: 10px;
  border: 2px double black;
  border-radius: 3px;
  color: black;
}
.search:hover {
  box-shadow: 1px 1px 1px 1px Hex #0070d1;
}
/*\\\\\\\\\\\\\*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  position: sticky;
  top: 0;
  width: 100%;
  color: black;
  height: 50px;
  background-color: #fff;
}

nav ul {
  display: flex;
  padding-top: 10px;
  float: right;
}
.push {
  padding-right: 500px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-family: Orbitron, sans-serif;
}
nav ul li a:active {
}
nav ul li a:hover {
  color: rgb(2, 162, 255);
}
.btn1 {
  position: absolute;
  left: 1420px;
  background-color: #cd3d0f;
  margin-top: 10px;
  width: 90px;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: ease-out 0.1s;
  border-radius: 30px;
}
.btn1:hover {
  background-color: #4b1300;
}
/*BREAK*/

/*video*/
video {
  position: relative;
  right: 0;
  max-width: 100%;
  height: fit-content;
}
.content {
  position: absolute;
  top: 250px;
  left: 90px;
  color: rgb(255, 255, 255);
  font-family: "Orbitron", sans-serif;
}
.T {
  padding: 2px;
  cursor: pointer;
}
#rs {
  padding-top: 10px;
}

.btn2 {
  background-color: rgb(218, 84, 7);
  color: white;
  width: 250px;
  height: 40px;
  cursor: pointer;
  transition: ease-out 0.2s;
  border-radius: 3px;
  font-size: 25px;
  border: none;
  box-shadow: inset 0 0 0 0 #00439c;
}
.btn2:hover {
  box-shadow: inset 250px 0 0 0 #00439c;
  color: black;
}
#H {
  padding-left: 20px;
}
.R {
  padding-top: 10px;
}
.icon {
  margin-left: 1150px;
  margin-top: 100px;
  display: inline-block;
}
.pegi {
  padding-left: 1162px;
  padding-bottom: 10px;
}
/*after the video*/

.overview {
  background-image: url(r1.jpg);
  background-size: cover;
  box-shadow: 0px 0px 2px 2px grey;
  width: 1520px;
  height: 700px;
  border: 1px solid grey;
  margin: auto;
  padding-top: 50px;
  padding-left: 30px;
}

.O {
  padding-right: 480px;
  font-family: "Cabin", sans-serif;
  font-size: 17px;
}
#special {
}
.key {
  text-align: center;
  color: white;
}
.haha {
  font-family: Orbitron, sans-serif;
  background-image: url(r7.jfif);
  height: 200px;
  background-position: center;
}
.feature1 {
  padding-left: 150px;
  background-image: url(r7.jfif);
  background-position: center;
}
.feature {
  padding-top: 60px;
  padding-left: 150px;
}
.column {
  float: left;
  padding: 60px;
}
.column img {
  transition: transform 0.5s ease;
}
.column:hover img {
  transform: scale(1.2);
}
.feature::after {
  content: "";
  clear: both;
  display: table;
}
.par1 {
  font-family: "Cabin", sans-serif;
  font-size: 17px;
}
#L {
  width: 500px;
  height: 200px;
  float: left;
  margin-left: 200px;
}
#L1 {
  width: 500px;
  height: 200px;
  float: right;
  margin-right: 190px;
}
/*break*/

.column1 {
  float: left;
  padding: 60px;
}
.column1 img {
  transition: transform 0.5s ease;
}
.column1:hover img {
  transform: scale(1.2);
}
.feature1::after {
  content: "";
  clear: both;
  display: table;
}

.par2 {
  font-family: "Cabin", sans-serif;
  font-size: 17px;
}
#L2 {
  width: 500px;
  height: 200px;
  float: left;
  margin-left: 70px;
}
#L3 {
  width: 500px;
  height: 200px;
  float: right;
  margin-right: 190px;
  border: 2px solid white;
  border: hidden;
}
.btn3 {
  background-color: white;
  width: 200px;
  height: 60px;
  box-shadow: inset 0 0 0 0 rgb(111, 194, 16);
  cursor: pointer;
  transition: ease-out 0.1s;
  border: double 1px white;
  border-radius: 50px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  margin-left: 660px;
}
.btn3:hover {
  transform: scale(1.1);
}
.learn {
  background-image: url(r7.jfif);
}
/*after body*/

/*buy now*/
.by {
}
.after {
  margin-top: 10px;
  border: 1px solid white;
  height: 80px;
  width: 100%;
}
.avl {
  margin: auto;
}
.cont {
  display: flex;
  justify-content: center;
}
.card {
  background-color: rgb(61, 60, 60);
  height: 500px;
  width: 400px;
  margin: 20px;
  color: white;
  border-radius: 15px;
}
.card:hover {
  transform: scale(1.02);
}
.card-image {
  height: 290px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  text-decoration: none;
}
.g20 {
  background-image: url("r4.webp");
}
.g21 {
  background-image: url("pos.jpg");
}
.g22 {
  background-image: url("g21.png");
}
.btn4 {
  background-color: rgb(203, 76, 3);
  color: white;
  padding: 15px 20px;
  margin-top: 40px;
  margin-left: 120px;
}

.ps {
  text-align: center;
  color: white;
  padding-right: 60px;
}
#aftermath {
  background-color: rgb(56, 55, 55);
  width: 1520px;
  height: 530px;
  background-image: url(play.gif);
  background-size: auto;
}
.game-awards {
  background-image: url(p10.webp);
  background-size: 1620px 600px;
  height: 600px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
}
.ga {
  margin-left: 890px;
  padding-top: 90px;
}
.cat {
  font-size: 13px;
  font-family: "Cabin", sans-serif;
  font-size: 17px;
  font-weight: 90;
}

/*TABLE*/

.b4-tab {
  font-family: Orbitron, sans-serif;
  background-color: #2d64e6;
  color: aliceblue;
  padding: 20px;
}
.psn {
}
.tabl1 {
  padding: 20px;
  text-align: left;
}
td {
  width: 2000px;
}
a {
  color: aliceblue;
}
/*BUY */
.buyall {
  height: fit-content;
  background-color: #3c3b3b;
}
.buy {
  padding-top: 20px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
  text-align: center;
}
.buy-cntnr {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}
.buy-card {
  background-color: #000000;
  width: 450px;
  height: 600px;
  margin: 10px;
  border-radius: 20px;
}
.buy-image {
  background-image: url(r2.jpg);
  background-size: cover;
  height: 200px;
  margin-bottom: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.buy_h {
  text-align: center;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
}
.buy_li {
  margin-left: 50px;
  margin-top: 40px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
}
.buy-price {
  margin-left: 50px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
  margin-top: 160px;
}
.buy-pricex {
  margin-left: 50px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
  margin-top: 90px;
}
.adc {
  background-color: #cd3d0f;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
  display: block;
  text-align: center;
  margin: 20px 50px;
  padding: 15px 20px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 20px;
}
.adc:hover {
  transition: all is ease;
  background-color: #6a1d03;
}
.dscrptn {
  background-image: url(bg.gif);
  width: 100%;
  height: 700px;
}
.des_text {
  text-align: center;
  font-family: Berserker;
  color: aliceblue;
  font-size: 50px;
  padding: 300px;
}
.dscrptn2 {
  background-image: url(bg2.gif);
  height: 500px;
  background-size: cover;
  margin: 100px;
}
.des_text2 {
  text-align: right;
  font-size: 20px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
  padding-right: 30px;
  padding-top: 200px;
}
.dscrptn3 {
  height: 1100px;
  margin: 200px;
  font-size: 20px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
}
.dscrptn3-img {
  height: 440px;
  width: 300px;
  float: right;
  margin-right: 200px;
}
.dscrptn4 {
  height: 400px;
  font-size: 20px;
  font-family: Orbitron, sans-serif;
  color: aliceblue;
  float: right;
  margin-top: 200px;
}
.dscrptn4-img {
  height: 440px;
  width: 300px;
}
.dscrptn5 {
  background-image: url(bg3.gif);
  width: 100%;
  height: 800px;
}
.des_text3 {
  text-align: center;
  font-family: Berserker;
  color: aliceblue;
  font-size: 50px;
  padding: 300px;
}
