* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.game-list {
  width: 100%;
  height: 300px;
  position: relative;
  font-family: Orbitron, sans-serif;
  box-shadow: rgb(21, 20, 20);
  
}

.card-container {
  position: relative;
  width: 97%;
  padding-left: 10px;
  height: 360px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
  
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 190px;
  width: 190px;
  height: 300px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
 
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1, 1); 
}

.card:hover .card-body {
  opacity: 10;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #00439C 120%);
  padding: 20px;
  transition: 0.5s;
}

.name {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 196px;
  font-family: Orbitron, sans-serif;
}

